<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" [formGroup]="countryForm">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-user-sidebar')"
          >
          </button>
          <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">New Country</h5>
          </div>
          <div class="modal-body flex-grow-1">
            <div class="form-group">
              <label class="form-label" for="basic-icon-default-fullname">Country Name</label>
              <input
                type="text"
                class="form-control dt-full-name"
                id="basic-icon-default-fullname"
                placeholder="Japan"
                name="user-fullname"
                formControlName="countryName"
                required
                aria-label="John Doe"
                aria-describedby="basic-icon-default-fullname2"
              />
              <!-- <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
              </span> -->
            </div>

            <div class="form-group">
              <label class="form-label" for="basic-icon-default-fullname">Country Code</label>
              <input
                type="text"
                class="form-control dt-full-name"
                id="basic-icon-default-fullname"
                placeholder="400"
                name="user-fullname"
                formControlName="countryCode"
                required
                aria-label="John Doe"
                aria-describedby="basic-icon-default-fullname2"
              />
              <!-- <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
              </span> -->
            </div>
      
            <button type="submit" class="btn btn-primary mr-1" (click)="submit(countryForm)" rippleEffect>Submit</button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-user-sidebar')"
              rippleEffect
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  