.video_container{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}
.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-block {
    height: 250px;
}

.video_cntrl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
}