<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <div class="card">
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Question No" prop="questionNo" [width]="50">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div class="cell-line-height">
                    <span class="font-weight-bold">{{ row.questionNo }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Question Name" prop="question" [width]="100">
              <ng-template let-question="value" ngx-datatable-cell-template>
                <div class="cell-line-height">
                  {{ question }}
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Answers" prop="answer" [width]="100">
              <ng-template let-answers="value" ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body">
                  <select class="form-control mx-10" name="options" >
                    <option *ngFor="let answer of row.answer" >{{ answer }}</option>
                  </select>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
  
    <!-- New User Sidebar -->
    <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="new-user-sidebar"
      overlayClass="modal-backdrop"
    >
    <!-- <app-add-new-question></app-add-new-question> -->
    </core-sidebar>
    <!--/ New User Sidebar -->
  </div>
  