<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center">
                <i data-feather="info" class="mr-sm-50"></i><span class="d-none d-sm-block">Content Information</span></a
              >
              <ng-template ngbNavContent>
                <!-- Information Tab starts -->
                <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                  <!-- users edit Info form start  -->
                  <form class="form-validate">
                    <div class="row mt-1">
                      <div class="col-12">
                        <h4 class="mb-1">
                          <i data-feather="edit" [size]="16" class="mr-75 font-medium-4"></i>
                          <span class="align-middle">Edit Content information</span>
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="website">Content Title</label>
                          <input
                            id="website"
                            type="mail"
                            class="form-control"
                            placeholder="After api  integretion"
                            name="Mailing Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="country">Data</label>
                          <textarea
                            type="text"
                            class="form-control"
                            name="country"
                            placeholder="description"
                          ></textarea>
                        </div>
                      </div>
                      
                      <!-- <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label class="d-block mb-1">Gender</label>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="male" name="gender" class="custom-control-input" />
                            <label class="custom-control-label" for="male">Male</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="female" name="gender" class="custom-control-input" checked />
                            <label class="custom-control-label" for="female">Female</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label class="d-block mb-1">Contact Options</label>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="email-cb" checked />
                            <label class="custom-control-label" for="email-cb">Email</label>
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="message" checked />
                            <label class="custom-control-label" for="message">Message</label>
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="phone" />
                            <label class="custom-control-label" for="phone">Phone</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <h4 class="mb-1 mt-2">
                          <i data-feather="map-pin" [size]="16" class="mr-75 font-medium-4"></i>
                          <span class="align-middle">Address</span>
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="address-1">Address Line 1</label>
                          <input
                            id="address-1"
                            type="text"
                            class="form-control"
                            value="A-65, Belvedere Streets"
                            name="address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="address-2">Address Line 2</label>
                          <input id="address-2" type="text" class="form-control" placeholder="T-78, Groove Street" />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="postcode">Postcode</label>
                          <input id="postcode" type="text" class="form-control" placeholder="597626" name="zip" />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="city">City</label>
                          <input id="city" type="text" class="form-control" value="New York" name="city" />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="state">State</label>
                          <input id="state" type="text" class="form-control" name="state" placeholder="Manhattan" />
                        </div>
                      </div> -->
                      <!-- <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="country">Country</label>
                          <input
                            id="country"
                            type="text"
                            class="form-control"
                            name="country"
                            placeholder="United States"
                          />
                        </div>
                      </div> -->
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                          Save Changes
                        </button>
                        <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit Info form ends -->
                </div>
                <!-- Information Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>