.green{
    color: rgb(25, 205, 25);
}
.red {
    color: red;
}
.options {
    display: flex;
}

.delete-price {
    display: flex;
    padding-top: 100px !important;
    flex-direction: column;
}

.delete-icon {
    padding:0px !important;
}

.delete {
    color: white;
}